body{
    display: flex;
    background:url(cenario.png) no-repeat center center fixed;;
    background-size: cover;
}

#urso-container {
    position: relative; 
    top: 590px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#urso {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0px;
    transition: bottom 0.5s;
}